{% extends './base.html' %}

{% block main_content %}

    {% for post in posts %}
        <div class="content">
            <h5><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h5>
            <div class="entry-meta">
                <a href="#"><i class="fa fa-user"> {{ post.owner__name }}</i></a>
                <a href=""><i class="fa fa-clock-o" aria-hidden="true"> {{ post.created_time }}</i></a>
                <a href=""><i class="fa fa-tags"> 标签</i></a>
                <a href="#"><i class="fa fa-eye"> 300</i></a>
                <a href="#"><i class="fa fa-comments"> 100</i></a>
            </div>
            <p id="para">{{ post.desc }}</p>
        </div>
    {% endfor %}

{% endblock %}

{% block pagination %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">首页</a>
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">尾页</a>
        {% endif %}
    </span>
    </div>
{% endblock %}