{% extends './base.html' %}
{% load static %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block title %}<title>{{ post.title }}</title>{% endblock %}
{% block main_content %}
    <!-- CODE START -->
    <div class="panel panel-default">
        <article class="vc-blog">
            <h1 class="vc-blog-title">{{ post.title }}</h1>
            <p class="vc-author-info">
                <time>{{ post.created_time|date:'Y年n月d日' }}</time> &bull; <span>{{ post.title }}</span> &bull; <span><a
                    href="">27条评论</a></span>
            </p>
            <div class="vc-blog-content">
                <img src="img/demo01.jpg" alt="">
                <p>{{ post.content }}</p>
            </div>
            <span class="vc-tags">
                {% for tag in post.tags.all %}
                    <a href="{% url 'blog:tag' tag.id %}">{{ tag.name }}</a>
                {% endfor %}
            </span>
            <div class="vc-copyright">
                本站文章除注明转载外，均为原创文章。转载请注明：文章转载自：JASONQIAO36.CC（<a href="http://jasonqiao36.cc/">http://jasonqiao36.cc/</a>）
            </div>
        </article>
        <!--
    <ol class="breadcrumb">
        <li><a href="#">首页</a>
        </li>
        <li><a href="#">平凡之路</a>
        </li>
        <li class="active">胡同里的小太子</li>
    </ol>
-->
    </div>
    <nav>
        <ul class="pager">
            <li class="previous"><a href="#"><i class="fa fa-angle-left"></i> 上一篇</a>
            </li>
            <li class="next"><a href="#">下一篇 <i class="fa fa-angle-right"></i></a>
            </li>
        </ul>
    </nav>
    <section id="comments">
        <h3 class="vc-comments-title">胡同里的小太子 - 有3条评论</h3>
        <ol class="commentlist">
            <li class="comment even thread-even depth-1 parent" id="comment-1">
                <div id="div-comment-1" class="comment-body">
                    <div class="comment-author vcard">
                        <img alt="" src="http://2.gravatar.com/avatar/?s=50&amp;d=mm&amp;r=g"
                             srcset="http://2.gravatar.com/avatar/?s=100&amp;d=mm&amp;r=g 2x"
                             class="avatar avatar-50 photo avatar-default" height="50" width="50"> <cite class="fn"><a
                            href="https://wordpress.org/" rel="external nofollow" class="url">WordPress先生</a></cite>

                        <time>
                            2015年5月16日 下午7:00
                        </time>
                    </div>

                    <p>您好，这是一条评论。
                        <br> 要删除评论，请先登录，然后再查看这篇文章的评论。登录后您可以看到编辑或者删除评论的选项。
                    </p>

                    <footer class="comment-footer">
                        <a class="comment-reply-link" href="" aria-label="回复给WordPress先生">回复</a></footer>
                </div>
                <ol class="children">
                    <li class="comment odd alt depth-2 parent" id="comment-2">
                        <div id="div-comment-2" class="comment-body">
                            <div class="comment-author vcard">
                                <img alt=""
                                     src="http://0.gravatar.com/avatar/0e844f3aa2050ff0d4fbc64310f4abeb?s=50&amp;d=mm&amp;r=g"
                                     srcset="http://0.gravatar.com/avatar/0e844f3aa2050ff0d4fbc64310f4abeb?s=100&amp;d=mm&amp;r=g 2x"
                                     class="avatar avatar-50 photo" height="50" width="50"> <cite class="fn"><a
                                    href="http://vicchen.me" rel="external nofollow" class="url">Vic</a></cite>

                                <time>
                                    2015年5月20日 下午12:30
                                </time>
                            </div>

                            <p>这条评论是回复的</p>

                            <footer class="comment-footer">
                                <a class="comment-reply-link" href="" aria-label="回复给Vic">回复</a></footer>
                        </div>
                        <ol class="children">
                            <li class="comment even depth-3" id="comment-3">
                                <div id="div-comment-3" class="comment-body">
                                    <div class="comment-author vcard">
                                        <img alt=""
                                             src="http://0.gravatar.com/avatar/0e844f3aa2050ff0d4fbc64310f4abeb?s=50&amp;d=mm&amp;r=g"
                                             srcset="http://0.gravatar.com/avatar/0e844f3aa2050ff0d4fbc64310f4abeb?s=100&amp;d=mm&amp;r=g 2x"
                                             class="avatar avatar-50 photo" height="50" width="50"> <cite class="fn"><a
                                            href="http://vicchen.me" rel="external nofollow" class="url">Vic</a></cite>

                                        <time>
                                            2015年5月20日 下午12:31
                                        </time>
                                    </div>

                                    <p>回复第二条</p>

                                    <footer class="comment-footer">
                                        <a class="comment-reply-link" href="" aria-label="回复给Vic">回复</a></footer>
                                </div>
                            </li>
                            <!-- #comment-## -->
                        </ol>
                        <!-- .children -->
                    </li>
                    <!-- #comment-## -->
                </ol>
                <!-- .children -->
            </li>
            <!-- #comment-## -->
        </ol>
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">发表评论
                <small><a rel="nofollow" id="cancel-comment-reply-link" href="">取消回复</a></small>
            </h3>
            <form action="http://vicchen.me/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                <p class="comment-notes"><span id="email-notes">电子邮件地址不会被公开。</span> 必填项已用<span class="required">*</span>标注
                </p>
                <p class="comment-form-author">
                    <label for="author">姓名 <span class="required">*</span>
                    </label>
                    <input id="author" name="author" type="text" value="" size="30" aria-required="true"
                           required="required">
                </p>
                <p class="comment-form-email">
                    <label for="email">电子邮件 <span class="required">*</span>
                    </label>
                    <input id="email" name="email" type="text" value="@" size="30" aria-describedby="email-notes"
                           aria-required="true" required="required">
                </p>
                <p class="comment-form-url">
                    <label for="url">站点</label>
                    <input id="url" name="url" type="text" value="http://" size="30">
                </p>
                <p class="comment-form-comment">
                    <label for="comment">评论</label>
                    <textarea id="comment" name="comment" rows="5" aria-describedby="form-allowed-tags"
                              aria-required="true" required="required"></textarea>
                </p>
                <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit" value="发表评论">
                    <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID">
                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                </p>
            </form>
        </div>
    </section>
    <!-- CODE END -->
{% endblock %}
