{% extends './base.html' %}

{% block main_content %}
    {% for post in posts %}
        <div class="thumbnail">
            {#        <div class="vc-pagelist-img">#}
            {#            <a href=""><img src="img/demo01.jpg" alt="demo image">#}
            {#            </a>#}
            {#        </div>#}
            <div class="caption">
                <h1 class="vc-page-title"><a href="">{{ post.title }}</a></h1>
                <p class="vc-author-info">
                    <time>{{ post.created_time }}</time> &bull; <span>{{ post.owner.username }}</span> &bull; <span><a
                        href="">27条评论</a></span>
                </p>
                <p class="hidden-xs">{{ post.desc }}</p>
                <p class="clearfix">
                    <a class="hidden-xs pull-right vc-more-link" href="{% url 'blog:post_detail' post.id %}" role="button">继续阅读 &raquo;</a>
                    <span class="vc-tags">
                        {% for tag in post.tags.all %}
                            <a href="">{{ tag }}</a>
                        {% endfor %}
                    </span>
                </p>
            </div>
        </div>

    {% endfor %}
    <nav>
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><i
                        class="fa fa-angle-left"></i> 上一页</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="next"><a href="?page={{ page_obj.next_page_number }}">下一页 <i
                        class="fa fa-angle-right"></i></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
